<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003"><ItemGroup><MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>0c58122c-1031-4499-9f55-4f0b7abb6e46</DefaultValue>
            <Value>0c58122c-1031-4499-9f55-4f0b7abb6e46</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSecret">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
            <Description>Value for ClientSecret here.</Description>
            <DefaultValue>zf/jjEqiJXCuTD7m22MX86sBSwaEZKLmd/qmaqOhp5Y=</DefaultValue>
            <Value>zf/jjEqiJXCuTD7m22MX86sBSwaEZKLmd/qmaqOhp5Y=</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>https://premiumit-backoffice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>premiumit-backoffice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PremiumIT-BackOffice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$PremiumIT-BackOffice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>